@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback 
@inject IPublishedUrlProvider PublishedUrlProvider


@{
    var site = Model.Root();
    var selection = Model.Root().Children.Where(x=> x.IsVisible(PublishedValueFallback)).ToArray();

}



<header>
        <div class="container">
        
            
            <div class="logotype" >
                <a href="/">
                      @{
                    var homeLogo = Model.Value<MediaWithCrops>("homeLogo");
                    if (homeLogo != null)
                    {
                    <img src="@homeLogo.MediaUrl()" alt="@Model.Value("homeLogo")">
                    }
                    
                    }
                </a>
            </div>
                
                <div class="contactinformation-bar">
                    <div class="content-box">
                        <i class="fa-regular fa-phone-volume"></i>
                        1234567
                    </div>
                    <div class="content-box">
                        <i class="fa-regular fa-envelope"></i>
                        info@crito.com
                    </div>
                    <div class="content-box last">
                        <i class="fa-regular fa-location-dot"></i>
                        Sveavägen 31, 111 34 Stockholm
                    </div>
                </div>
                <div class="socialmedia-bar">
                  <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                  <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                  <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                  <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>  
                </div>
                <div class="menu">
                    <nav>
                        <a class="@(Model.Id==site.Id? "active":null)" href="@site.Url()">@site.Name</a>
                    
                        
                        @if (selection?.Length > 0)
                        {
                        @foreach ( var item in selection)
                        {
                        <a class="@(item.IsAncestorOrSelf(Model) ? "active":null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                        }
                            
                        }
                        
                    </nav>
                    <div class="login">
                        <a class="btn-yellow btn-login" href="/login">Login <i class="fa-regular fa-arrow-up-right"></i></a>
                    </div>
                </div>
    </header>